<div class="container mx-auto">
  <div class="lg:w-1/2 mx-auto">
    <h2 class="my-8 text-2xl text-gray-800">
      Exercises
    </h2>

    <div class="border border-gray-400 rounded">
      {{#each @exercises as |exercise|}}
        <LinkTo
          @route="exercise"
          @model={{exercise.id}}
          data-test-exercise={{exercise.id}}
          class="flex items-center px-4 py-6 border-t first:border-t-0 border-gray-400
          font-bold text-light-blue-vivid-800 hover:bg-light-blue-vivid-050"
        >
          <h3 class="w-1/3">
            {{exercise.title}}
          </h3>

          <div class="w-2/3">
            <Exercise::Timeline @actions={{exercise.actions}} />
          </div>
        </LinkTo>
      {{/each}}
    </div>
  </div>
</div>
