<header class="bg-yellow-vivid-300">
  <div class="container mx-auto px-4">
    <h1 class="py-6">
      <LinkTo @route="application">
        Lungebox
      </LinkTo>
    </h1>
  </div>
</header>

{{outlet}}
